# Exclude
!third-party/binaries
!third-party\binaries\premake\windows\premake5.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Directories
.vs/
bin/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Project-Specific
imgui.ini
